@charset "utf-8";
.container-fluid {
    background-color: #000000;
    background-image: url(images/wallpaper.jpg);
}
.container-fluid .container #carouselExampleIndicators1 {
    background-image: url(images/wallpaper.jpg);
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: url(images/navbar.jpg);
}


.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    color: #147019;
    background-image: url(images/navbar.jpg);
}
.navbar-nav.mr-auto .nav-item .nav-link {
    font-weight: 800;
}
.container footer .row {
    background-color: #F8F2F2;
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(124,121,121,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(124,121,121,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(124,121,121,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(124,121,121,1.00) 100%);
}
